<div style="background-color: #ccc; width: 100%">
  <div style="max-width: 760px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif;">
    <div style="height: 70px; display: flex; align-items: center; justify-content: space-between; background-color: #4C33CC; padding: 5px 10px">
      <img src="https://gui10l1-github-projects.s3.amazonaws.com/fastfeet.png" alt="FastFeet Brand">

      <b style="font-size: 20px; color: #fff;">
        New delivery requested!
      </b>
    </div>

    <div style="background-color: #F7F5FA; padding: 5px 10px; color: #4C4766;">
      <h1 style="font-size: 25px;">Hello {{clientName}}!</h1>

      <span style="color: #6F6C80">We've checked that a new delivery has been requested by you.</span>

      <p style="color: #6F6C80">
        As your delivery goes forward we will be giving you all details about it.
      </p>

      <h2 style="font-size: 22px;">Product information</h2>

      <p>
        <b>Please, check all the information bellow with attention</b>
      </p>

      <p style="color: #6F6C80">
        Your product is {{ product }} and it will be delivered to:

        <ul style="color: #6F6C80">
          <li>
            Postal code: {{ postalCode }};
          </li>

          <li>
            Address: {{ address }};
          </li>

          <li>
            Neighborhood: {{ neighborhood }};
          </li>

          <li>
            City: {{ city }};
          </li>

          <li>
            State: {{ state }}.
          </li>
        </ul>
      </p>

      <p style="font-size: 14px; color: #E62E2E; margin-top: 16px; text-align: center;">
        <i>If you need to change any information, contact our support: fastfeet@support.com</i>
      </p>
    </div>

    <div style="background-color: #F7F5FA; padding: 8px">
      <p style="font-size: 14px; color: #BEBCBB; margin: 0; text-align: center;">
        If you don't want to recieve any of this emails, <a href="#" style="color: #BEBCCC;">click here</a>.
      </p>
    </div>
  </div>
</div>
